*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 20px;
}

h1{
    text-align:center;
    padding-bottom:10px;
}

header {
    padding:30px 0 0 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:blanchedalmond;
}

nav{
    display:flex;
    background-color:black;
    text-align:center;
    padding: 10px;
    margin: 0;
}

nav a{
    /*display: inline-block;*/
    margin: 50px;
    color:white;
    text-decoration: none;
}

main{
    display:flex;
    flex-wrap:wrap;
}

.content{
   /* padding:20px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;

}
.subcontent{
    flex-wrap:wrap;
    margin-top:20px;
    padding:20px;
    background-color: blanchedalmond;
}

#about-me{
    margin-left: 30px;
    flex-wrap:wrap;
    /*width: 45%;*/
}

#work-apps{
   margin-right: 30px;
   display: flex;
   flex-wrap: wrap;
}
h3{
    text-decoration: underline;

}

.apps{
    margin:20px;
    flex-wrap:wrap;
}

.apps > header{
    padding: 20px;
    font-size:20px;
    text-align:center;
}
/*#largest-app{
    height: 100%;
    width: 100%;
}*/

#largest-app > img{
    height:350px;
    width:700px;
    margin-left: 200px;
    margin-right: 200px;
}

/*.apps{
    height:100%;
    width:100%;
}*/
.apps > img{
    height:125px;
    width:250px;
}


#contact-info{
    margin-top:20px;
    width:100%;
    padding:20px;
    background-color:blanchedalmond;
}

#contact-info h3{
    text-align:center;
}

#contact-info ul{
    list-style-type:none;
    text-align: center;
}

#contact-info li{
    display: inline-block;
    margin: 20px 50px;
}

#contact-info a{
    list-style-type:none;
}

p{
    font-family:'Times New Roman', Times, serif;
}





@media screen and (max-width:992px) {
    
}