*{
    box-sizing:border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0;
}

header{
    padding:20px; 
    text-align:center;
    background-color:#b9c6ae;
}

nav{
    display:flex;
    background-color: black;
    color: white;
    justify-content: center;
}

nav a {
    text-decoration: none;
    margin: 20px;
    text-align: center;
}

main{
    display: flex;
    flex-wrap: wrap;
}

#about-me{
    flex: 100%;
    padding:30px;
    display: flex;
    flex-wrap:wrap;
}


aside {
    flex: 40%;
    padding: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.column{
    flex: 60%;
    padding:0 4px;
    /*flex-direction:column;*/
    justify-content:center;
    align-items:center;
}

aside img{
    max-width:100%;
}


#work-apps{
    margin-top: 10px;
    margin-right: 10px;
    border-style: solid;
    flex:0 0 100%;
    background-color: #fff;
    padding: 30px;
    display:flex;
    flex-wrap: wrap;
}

#work-apps p{
    font-size:15px;
    text-align:center;
}
#small-apps{
    display: flex;
    flex-wrap: wrap;
}

#largest-app{ 
    flex: 100%;
}

#largest-app img{
    width:100%;
}


/*h3{
    text-align:center;
    display:flex;

}*/

.apps{
    flex:25%;
    max-width:25%;
    padding:0 4px;
}

.apps img{
    width:100%;
}

#contact-info{
    flex:0 0 100%;
    background-color:#b9c6ae;
    padding: 30px;
}

#contact-info li{
    margin:20px 50px;
    list-style-type: none;
}
