*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1{
    text-align:center;
    padding-bottom:10px;
}

header {
    padding:30px 0 0 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:blanchedalmond;
}

nav{
    background-color:black;
    text-align:center;
    padding: 10px;
    margin:0;
    /*margin-right: 20px;
    float: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;*/
}

nav a{
    /*display: inline-block;*/
    margin: 50px;
    color:white;
    text-decoration: none;
}
main{
    display:flex;
    flex-wrap:wrap;
}
/*.content{
    display: inline-block;
    justify-content:space-between;
}*/

#about-me{
    margin-top: 20px;
    margin-left: 30px;
    padding:20px;
    float: left;
    width: 45%;
    background-color: blanchedalmond;
}

#work-apps{
    margin-top: 200px;
    margin-right:30px;
    padding: 20px;
    float:right;
    width: 50%;
    background-color: blanchedalmond;
}

#contact-info{
    margin-top:20px;
    width:100%;
    padding:20px;
    background-color:blanchedalmond;
}

#contact-info h3{
    text-align:center;
}

#contact-info ul{
    list-style-type:none;
    text-align: center;
}

#contact-info li{
    display: inline-block;
    margin: 20px 50px;
}

#contact-info a{
    list-style-type:none;
}

p{
    font-family:'Times New Roman', Times, serif;
}


h3{
    text-decoration: underline;
}

.apps header{
    font-size:20px;
}
.apps img{
    display:inline-block;

}


@media screen and (max-width:992px) {
    
}