/*setting up base style*/
*{
    box-sizing:border-box;
}

/*setting up style for body*/
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0;
}

/*header style*/
header{
    padding:20px; 
    text-align:center;
    background-color:#b9c6ae;
}

/*nav style which includes flex properties*/
nav{
    display:flex;
    background-color: black;
    color: white;
    justify-content: center;
}

nav a {
    text-decoration: none;
    margin: 20px;
    text-align: center;
}

/*ensure main sections are in a flex style and wrap sections to not exceed screen size*/
main{
    display: flex;
    flex-wrap: wrap;
}

#about-me{
    flex: 100%;
    padding:30px;
    display: flex;
    flex-wrap:wrap;
}

/*aside section to take 40% of about me section and to be placed in center of the section*/
aside {
    flex: 40%;
    padding: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
}

/*column section to take 60% of about me section and to be placed in center of section*/
.column{
    flex: 60%;
    padding:0 4px;
    justify-content:center;
    align-items:center;
}

/*ensure profile picture isn't exceeding 100%*/
aside img{
    max-width:100%;
}


#work-apps{
    margin-top: 10px;
    margin-right: 10px;
    border-style: solid;
    flex:0 0 100%;
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

#work-apps p{
    font-size:15px;
    text-align:center;
}

#small-apps{
    display: flex;
    flex-wrap: wrap;
}

#largest-app{ 
    flex: 100%;
}

#largest-app img{
    align-self:center;
    width:100%;
}

/*setting up each application to take 25% of small apps section*/
.apps{
    flex:25%;
    max-width:25%;
    padding:0 4px;
}
/*setting up apps image to take full width of the section*/
.apps img{
    width:100%;
}

#contact-info{
    flex:0 0 100%;
    background-color:#b9c6ae;
    padding: 30px;
}

#contact-info li{
    margin:20px 50px;
    list-style-type: none;
}
